Repository tembo-io/tembo, changes with the owners that CODEOWNERS names for each.
All owners: @nhudson, @ianstanton, @vrmiguel, @ChuckHend, @shahadarsh, @DarrenBaldwin07, @chuckhend, @jasonmp85

CODEOWNERS:

.github/** @nhudson @ianstanton @vrmiguel 
charts/** @nhudson @ianstanton
dataplane-webserver/** @nhudson @ianstanton @vrmiguel 
tembo-operator/** @nhudson @ianstanton @ChuckHend @vrmiguel 
conductor/** @nhudson @ianstanton @ChuckHend @vrmiguel 
tembo-pod-init/** @nhudson @ianstanton
tembo-cli/** @shahadarsh @vrmiguel @DarrenBaldwin07
tembo-py/** @chuckhend
tembo-stacks/** @chuckhend @jasonmp85
inference-gateway/** @chuckhend @jasonmp85

bump chart version
  charts/tembo-ai/Chart.yaml
Owners: @nhudson, @ianstanton

fix helm chart for real deployment
  charts/tembo-ai/templates/_helpers.tpl
  charts/tembo-ai/templates/inference-service/_helpers.tpl
  charts/tembo-ai/templates/inference-service/external-secret.yaml
  charts/tembo-ai/templates/inference-service/pod-monitor.yaml
  charts/tembo-ai/templates/inference-service/service.yaml
  charts/tembo-ai/templates/inference-service/serviceaccount.yaml
  charts/tembo-ai/templates/inference-service/statefulset.yaml
  charts/tembo-ai/values.yaml
Owners: @nhudson, @ianstanton

format helm charts
  charts/tembo-ai/templates/inference-service/external-secret.yaml
  charts/tembo-ai/templates/inference-service/pod-monitor.yaml
  charts/tembo-ai/templates/inference-service/service.yaml
  charts/tembo-ai/templates/inference-service/serviceaccount.yaml
Owners: @nhudson, @ianstanton

code cleanup
  charts/tembo-ai/templates/_helpers.tpl
  charts/tembo-ai/templates/inference-service/_helpers.tpl
  charts/tembo-ai/templates/inference-service/external-secret.yaml
  charts/tembo-ai/templates/inference-service/pod-monitor.yaml
  charts/tembo-ai/templates/inference-service/service.yaml
  charts/tembo-ai/templates/inference-service/serviceaccount.yaml
  charts/tembo-ai/templates/inference-service/statefulset.yaml
Owners: @nhudson, @ianstanton

rework merge logic
  charts/tembo-ai/templates/inference-service/_helpers.tpl
  charts/tembo-ai/templates/inference-service/external-secret.yaml
  charts/tembo-ai/templates/inference-service/pod-monitor.yaml
  charts/tembo-ai/templates/inference-service/service.yaml
  charts/tembo-ai/templates/inference-service/serviceaccount.yaml
  charts/tembo-ai/templates/inference-service/statefulset.yaml
  charts/tembo-ai/values.yaml
Owners: @nhudson, @ianstanton

Update paradedb.yaml
  tembo-stacks/src/stacks/specs/paradedb.yaml
Owners: @chuckhend, @jasonmp85

bump toml
  tembo-stacks/Cargo.lock
  tembo-stacks/Cargo.toml
Owners: @chuckhend, @jasonmp85

Update paradedb.yaml (#995)
  tembo-stacks/Cargo.lock
  tembo-stacks/Cargo.toml
  tembo-stacks/src/stacks/specs/paradedb.yaml
Owners: @chuckhend, @jasonmp85

FIx wording
  charts/tembo-ai/templates/_helpers.tpl
Owners: @nhudson, @ianstanton

Update action.yml
  .github/actions/argocd-update/action.yml
Owners: @nhudson, @ianstanton, @vrmiguel
